In [1]:
import pandas as pd
import pyodbc
from sqlalchemy import text

In [11]:
server  = 'LABORATORYWORKI\\ANALISIS'
database ='analisis_datos'
username = 'sa'
password = '12345'
driver = 'ODBC Driver 17 for SQL Server'

try:

    connection_string = f"DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}"
    conn = pyodbc.connect(connection_string)
    conn.autocommit = True
    cursor = conn.cursor()
    print("Conexión Exitosa!")

except Exception as e:
    print(f"Error de conexion: {e}")

Conexión Exitosa!

In [3]:
create_table_query = """
                    CREATE TABLE productos (
                        product_id INT PRIMARY KEY,
                        product_name VARCHAR(100),
                        product_price REAL NOT NULL
                        );
                        """
try:
   cursor.execute(create_table_query)
   print("Query ejecutando con éxito.")
except Exception as e:
   print(f"Error en el Query: {e}")

Error en el Query: ('42S01', "[42S01] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]There is already an object named 'productos' in the database. (2714) (SQLExecDirectW)")

In [32]:
insert_data_query = """
                INSERT INTO productos (
                    product_id,
                    product_name,
                    product_price
                )
                VALUES
                    (1, 'Portatil Acer 125', 3200000),
                    (2, 'Portatil Azus X28', 3499900),
                    (3, 'Portatil Acer 254', 1568742),
                    (4, 'Portatil HP L587', 2564789),
                    (5, 'MacBook 15PRO', 2500000),
                    (6, 'MacBook 16XT', 3859786),
                    (7, 'Impresora Canon 1245', 897520),
                    (8, 'Multifuncional Canon 1678', 1564230),
                    (9, 'Multifuncional Canon 4126', 2864250),
                    (10, 'Multifuncional Canon 1125', 1416000),
                    (11, 'PORTATIL ASUS VIVOBOOK X1504ZA NJ373', 8423700),
                    (12, 'GIGABYTE G6X 9KG 2024CORE i7', 5478222),
                    (13, 'LENOVO IP 3 14ALC6RYZ 3', 3584875),
(14, 'LENOVO IDEAPAD 1 15ALC7RYZ 5', 8423700),
                    (15, 'MSI THIN 15 B12UCX 2280XCO CORE i7', 12916210),
                    (16, 'ASUS VIVOBOOK', 5423700),
                    (17, 'HP14 DQ5016LACORE i5', 6918700),
                    (18, 'HP 15 DY5008LACORE i7', 3423700),
                    (19, 'MSI THIN 15 B12UCX 2280XCO CORE i7', 8228700),
                    (20, 'GIGABYTE G6X 9KG 2024 CORE i7', 4423700);
                """
try:
   cursor.execute(insert_data_query)
   print("Query ejecutando con éxito.")
except Exception as e:
   print(f"Error en el Query: {e}")

Query ejecutando con éxito.

In [34]:
vista_query = "SELECT * FROM productos"

try:
   result = pd.read_sql(vista_query,conn)
except Exception as e:
   print(f"Error en el Query: {e}")

result

C:\Users\Johnny Ahumada\AppData\Local\Temp\ipykernel_19564\1407477000.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql(vista_query,conn)

    product_id                          product_name  product_price
0            1                     Portatil Acer 125      3200000.0
1            2                     Portatil Azus X28      3499900.0
2            3                     Portatil Acer 254      1568742.0
3            4                      Portatil HP L587      2564789.0
4            5                         MacBook 15PRO      2500000.0
5            6                          MacBook 16XT      3859786.0
6            7                  Impresora Canon 1245       897520.0
7            8             Multifuncional Canon 1678      1564230.0
8            9             Multifuncional Canon 4126      2864250.0
9           10             Multifuncional Canon 1125      1416000.0
10          11  PORTATIL ASUS VIVOBOOK X1504ZA NJ373      8423700.0
11          12          GIGABYTE G6X 9KG 2024CORE i7      5478222.0
12          13               LENOVO IP 3 14ALC6RYZ 3      3584875.0
13          14          LENOVO IDEAPAD 1 15ALC7RYZ 5      8423700.0
14          15    MSI THIN 15 B12UCX 2280XCO CORE i7     12916210.0
15          16                         ASUS VIVOBOOK      5423700.0
16          17                  HP14 DQ5016LACORE i5      6918700.0
17          18                 HP 15 DY5008LACORE i7      3423700.0
18          19    MSI THIN 15 B12UCX 2280XCO CORE i7      8228700.0
19          20         GIGABYTE G6X 9KG 2024 CORE i7      4423700.0

In [ ]:

try:
    # Ejecuta la consulta
    cursor.execute(vista_query)
    rows = cursor.fetchall()

    # Obtiene los nombres de las columnas
    columns = [desc[0] for desc in cursor.description]

    # Convierte cada valor Decimal a float
    rows = [[float(value) if isinstance(value, float) else value for value in row] for row in rows]
    
    # Convierte las filas en un DataFrame de pandas
    df = pd.DataFrame(rows, columns=columns)

except Exception as e:
    print(f"Error ejecutando la consulta: {e}")

In [6]:
create_table_query1 = """
                    CREATE TABLE clientes (
                        cliente_id INT PRIMARY KEY,
                        cliente_name VARCHAR(100),
                        cliente_price REAL NOT NULL
                        );
                        """
try:
   cursor.execute(create_table_query1)
   print("Query ejecutando con éxito.")
except Exception as e:
   print(f"Error en el Query: {e}")

Query ejecutando con éxito.

In [6]:
insert_data_query3 = """
                INSERT INTO clientes (
                    cliente_id,
                    cliente__name,
                    cliente_price
                )
                VALUES
                    (1, 'Johnny Ahumada', 3200000),
                    (2, 'Juan Fernando ', 3499900),
                    (3, 'Samuel Charris', 1568742),
                    (4, 'Angelica Silva', 2564789),
       
                """
try:
   cursor.execute(insert_data_query3)
   print("Query ejecutando con éxito.")
except Exception as e:
   print(f"Error en el Query: {e}")

Error en el Query: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near ','. (102) (SQLExecDirectW)")

In [6]:
create_catalogo_query3 = "CREATE FULLTEXT CATALOG catalogo_productos AS DEFAULT"

try:
    cursor.execute(create_catalogo_query3)
    print("Catalogo creado con éxito")

except Exception as e:
    print(f"Error en el Query: {e}")

Catalogo creado con éxito

## Crear indice de FTS

In [14]:
create_index_query4 = """
                   CREATE FULLTEXT INDEX ON productos (product_name)
                   KEY INDEX PK__producto__47027DF527BB9BD0
                   WITH STOPLIST = SYSTEM;
                   """

try:
   cursor.execute(create_index_query4)
   print("Indice FTS creado con éxito")

except Exception as e:
    print(f"Error en el Query: {e}")

Indice FTS creado con éxito

CONTAINS

In [18]:
contains_query5 = """
                SELECT * FROM productos
                WHERE contains(product_name, 'Portatil')
                """

try:
   contains_result = cursor.execute(contains_query5).fetchall()
   for row in contains_result:
       print(row)
except Exception as e:
    print(f"Error en el CONTAINS: {e}")

(1, 'Portatil Acer 125', 3200000.0)
(2, 'Portatil Azus X28', 3499900.0)
(3, 'Portatil Acer 254', 1568742.0)
(4, 'Portatil HP L587', 2564789.0)
(11, 'PORTATIL ASUS VIVOBOOK X1504ZA NJ373', 8423700.0)

FREETEXT

In [22]:
freetext_query = """
                SELECT * FROM productos
                WHERE contains(product_name, 'Acer')
                """

try:
   freetext_query_result = cursor.execute(freetext_query).fetchall()
   for row in contains_result:
       print(row)
except Exception as e:
    print(f"Error en el freetext: {e}")

(1, 'Portatil Acer 125', 3200000.0)
(3, 'Portatil Acer 254', 1568742.0)

## Actualizar las estadisticas del FTS Para dar mzntenimiento

In [24]:
update_statistics_query = "UPDATE STADISTICS productos WITH FULLSCAN"
try:
   cursor.execute(update_statistics_query)
   print("Estadisticas actualizadas con exito")
except Exception as e:
    print(f"Error en la instalación de  las estadisticas: {e}")

Error en la instalación de  las estadisticas: ('42000', "[42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near 'productos'. (102) (SQLExecDirectW); [42000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Incorrect syntax near the keyword 'with'. If this statement is a common table expression, an xmlnamespaces clause or a change tracking context clause, the previous statement must be terminated with a semicolon. (319)")